{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="task" id="" placeholder="Nima ishni bajaramiz">
    <button type="submit">Kiritish</button>
   </form>

   <h2>Vazifalarim {{xabar}}</h2>
   <p>
    <ul>
       {% for todo in todolar %}
        <li>
            {{todo.task}} - {{todo.get_status_display}}
        </li>
       {% endfor %}
    </ul>

   </p>
</body>
</html>